doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title main
        link(rel="stylesheet", href=("/assets/styles.css"))
    body 
        div.menu
            div.menu__top 
            div.menu__down 
        div.blank 
        div.line
            div.line__sub 
            div.line__sub 
            div.line__sub 
            div.line__sub 
            div.line__sub 
        div.bottom
            div.bottom__outside 
            div.bottom__inside
                div.bottom__inside__top 
                div.bottom__inside__down 
            div.bottom__inside
                div.bottom__inside__top
                div.bottom__inside__down
                    div.bottom__inside__down__up 
                    div.bottom__inside__down__bottom 
            div.bottom__outside 